<!doctype html>
<head>
	<title>Free bobux no scam</title>
	<link href="/static/style2.css" rel="stylesheet" type="text/css">
</head>
<body>
	<h1>Free bobux!</h1>
  <img src="https://upload.wikimedia.org/wikipedia/commons/5/5c/Fruit_vendor%2C_Mysore_(01).jpg" width="600px">
	<p>
    Hello my friend my name is rajeesh I'm the owner of free bobux website. pls use it's not a virus you <strong> won't </strong> get trojan or bitcoin miner on your pc pls use. <br> <br>

		 Go to https://rbxcloud.com for some free Bobux.<br>
     No scam. <br>
     No human verification needed. <br>
     No password. <br>
     Instant Delivery <br> <br>
     Here is proof. <br> 
     <iframe width="560" height="315" src="https://www.youtube.com/embed/PKf62IN7nMI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> <br> 
     OMG IT WORKED!!!!!! <br>

     <a href="https://drive.google.com/file/d/1KYBsCHvHHzupEwKPkYJl7Lu4TeieGcS7/view">
     Visit now</a>
	</p>

</body>
